.bodyClass {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 238, 226);
    background-image: url("../img/splash-bkg-cc.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*Hunter: "I added in numerous height:100% so that
          the Venue View will take up the remaining vertical
          space"*/

#main {
    margin-top: 180px;
    text-align: center;
    text-shadow: 1px 1px 5px #555;
}

#text-desc {
    font-size: 20px;
    font-weight: 500;
}

footer {
    background: #000;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footer-text {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}

h1 {
    font-weight: 1000;
    font-size: 48px;
}


#main-404 {
    margin-top: 260px;
    text-align: center;
    text-shadow: 1px 1px 5px #555;
}



