#topbar {
    height: 80px;
    width: 100%;
    background: #000;
}

.wrapper {
    max-width: 95%;
    margin: auto;
}

#logo {
    float: left;
    font-size: 32px;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
    color: white;
}

#nav-right {
    float: right;
    padding: 15px;
}