.log-in {
    background: #000;
    color: rgb(240,170,120);
    border: none;
}

.log-in:hover {
    background: #000;
    color: rgb(255, 227, 174);
    border: none;
}

.log-in:active {
    background: #000 !important; 
}

.sign-up {
    color: #000;
    background: rgb(228,93,51);
    border: none;
    margin-left: 30px;
}

.sign-up:hover {
    background: #af4ca3;
}

.sign-up:active {
    background: #af4ca3 !important;
}

.sign-up-main {
    margin-top: 30px;
    color: #ffffff;
    background: rgb(228,93,51);
    border: none;
    width: 180px;
}

.sign-up-main:hover {
    background: #af4ca3;
}

.sign-up-main:active {
    background: #af4ca3 !important;
}

.btn-scnd {
    color: #000;
    background: #ffffff;
    border: none;
}

.btn-scnd:hover {
    color: #000;
    background: #ddd;
    border: none;
}

.btn-scnd:active {
    color: #000 !important;
    background: #ffffff !important;
    border:none;
}

.logout {
    font-size: 14px;
    display: block;
    bottom: 0;
    margin: auto;
    margin-top: 30px;
    width: 120px;
    background: #232426;
    border: none;
}

.logout:hover {
    background: #1f2022;
}

.logout:active {
    background: #1f2022 !important;
}

.btn-main {
    color: #ffffff;
    background: rgb(228,93,51);
    border: none;
}

.btn-main:hover {
    color: #ffffff;
    background: #9e3091;
    border: none;
}

.btn-main:active {
    background: rgb(228,93,51) !important; 
    border: none;
}

.card-button {

    /* Hunter: "Made changes to this so that it
    doesn't cover up content beneath it." */
    width:90%;
    position: absolute;
    bottom: 5px; 
    left:50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 640px) {
    
    .sign-up {
        display: none;
    }

    .log-in {
        background: #000;
        border: solid 2px #ffffff;
    }

}