.log-in {
    background: #000;
    color: #ffffff;
    border: none;
}

.log-in:hover {
    background: #000;
    color: #ffffff;
    border: none;
}

.log-in:active {
    background: #000 !important; 
}
.sign-up {
    color: #000;
    background: #ffffff;
    border: none;
    margin-left: 30px;
}

.sign-up:hover {
    background: #af4ca3;
}

.sign-up:active {
    background: #af4ca3 !important;
}

.sign-up-main {
    margin-top: 30px;
    color: #ffffff;
    background: #af4ca3;
    border: none;
    width: 180px;
}

.sign-up-main:hover {
    background: #af4ca3;
}

.sign-up-main:active {
    background: #af4ca3 !important;
}

.btn-scnd {
    color: #000;
    background: #ffffff;
    border: none;
}

.btn-scnd:hover {
    color: #000;
    background: #ddd;
    border: none;
}

.btn-scnd:active {
    color: #000 !important;
    background: #ffffff !important;
}

.logout {
    font-size: 14px;
    display: block;
    bottom: 0;
    margin: auto;
    margin-top: 30px;
    width: 120px;
    background: #232426;
    border: none;
}

.logout:hover {
    background: #1f2022;
}

.logout:active {
    background: #1f2022 !important;
}

.btn-main {
    color: #ffffff;
    background: #af4ca3;
    border: none;
}

.btn-main:hover {
    color: #ffffff;
    background: #9e3091;
    border: none;
}

.btn-main:active {
    background: #9e3091 !important; 
    border: none;
}

.card-button {
    width: 120px;
    position: absolute;
    margin-bottom: 20px;
    bottom: 0; 
}

@media screen and (max-width: 640px) {
    
    .sign-up {
        display: none;
    }

    .log-in {
        background: #000;
        border: solid 2px #ffffff;
    }

}